XKBMODEL="{{ com_keyboard_configuration_keyboard_model }}"
XKBLAYOUT="{{ com_keyboard_configuration_keyboard_layout }}"
XKBVARIANT="{{ com_keyboard_configuration_keyboard_variant }}"
XKBOPTIONS="{{ com_keyboard_configuration_keyboard_options }}"
BACKSPACE="{{ com_keyboard_configuration_keyboard_backspace }}"
